<a href="https://colab.research.google.com/github/Faouzi-Slimi/python_Avancee/blob/main/fathia_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
# read data
import pandas as pd
data = pd.read_json('/content/drive/MyDrive/jobs.json', orient='records')

data = pd.DataFrame(data)

In [119]:
# columns 
data.head(5)

,title,location,poste,preview,date
0,[Financier femme],[Tunis],[Administration],[\n Société spécialisée dans le domaine...,[04 novembre 2022 ]
1,[Développeur back-end],[Nabeul],[Informatique - Télécom - Internet],[\n Nous recherchons un développeur bac...,[04 novembre 2022 ]
2,[Développeur Angular (SDW030)],[Ariana],[Informatique - Télécom - Internet],[\n L’innovation technologique et opéra...,[04 novembre 2022 ]
3,[],[],[],[],[]
4,[Développeur Android],[Ariana],[Informatique - Télécom - Internet],[\n SMART Conseil est un éditeur spécia...,[04 novembre 2022 ]

In [120]:
# merge column title and description

# data = data.concatunate()

In [121]:
# remove job referance and publication date

data = data.drop(["date"],axis=1)

data.head(5)

,title,location,poste,preview
0,[Financier femme],[Tunis],[Administration],[\n Société spécialisée dans le domaine...
1,[Développeur back-end],[Nabeul],[Informatique - Télécom - Internet],[\n Nous recherchons un développeur bac...
2,[Développeur Angular (SDW030)],[Ariana],[Informatique - Télécom - Internet],[\n L’innovation technologique et opéra...
3,[],[],[],[]
4,[Développeur Android],[Ariana],[Informatique - Télécom - Internet],[\n SMART Conseil est un éditeur spécia...

In [122]:
import nltk
from nltk.corpus import stopwords

nltk.download("stopwords")
french_stop_words = stopwords.words('french')
print(french_stop_words)

['au', 'aux', 'avec', 'ce', 'ces', 'dans', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux', 'il', 'ils', 'je', 'la', 'le', 'les', 'leur', 'lui', 'ma', 'mais', 'me', 'même', 'mes', 'moi', 'mon', 'ne', 'nos', 'notre', 'nous', 'on', 'ou', 'par', 'pas', 'pour', 'qu', 'que', 'qui', 'sa', 'se', 'ses', 'son', 'sur', 'ta', 'te', 'tes', 'toi', 'ton', 'tu', 'un', 'une', 'vos', 'votre', 'vous', 'c', 'd', 'j', 'l', 'à', 'm', 'n', 's', 't', 'y', 'été', 'étée', 'étées', 'étés', 'étant', 'étante', 'étants', 'étantes', 'suis', 'es', 'est', 'sommes', 'êtes', 'sont', 'serai', 'seras', 'sera', 'serons', 'serez', 'seront', 'serais', 'serait', 'serions', 'seriez', 'seraient', 'étais', 'était', 'étions', 'étiez', 'étaient', 'fus', 'fut', 'fûmes', 'fûtes', 'furent', 'sois', 'soit', 'soyons', 'soyez', 'soient', 'fusse', 'fusses', 'fût', 'fussions', 'fussiez', 'fussent', 'ayant', 'ayante', 'ayantes', 'ayants', 'eu', 'eue', 'eues', 'eus', 'ai', 'as', 'avons', 'avez', 'ont', 'aurai', 'auras', 'aura', 'aurons', 'aurez', 'auront', 'aurais', 'aurait', 'aurions', 'auriez', 'auraient', 'avais', 'avait', 'avions', 'aviez', 'avaient', 'eut', 'eûmes', 'eûtes', 'eurent', 'aie', 'aies', 'ait', 'ayons', 'ayez', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent']

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [123]:
import numpy as np

title = data['title']


#title = np.squeeze(title)
title1 = []
for x in range(len(title)):
  if len(title[x] ) > 0 :
     title1.append(title[x][0])

title1[0]

'Financier femme'

In [124]:
# create if-tdf matrix

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_df=0.5,min_df=0.05,stop_words=french_stop_words)

x = vectorizer.fit_transform(title1)

In [125]:
# list of feature

names_out = vectorizer.get_feature_names_out()

names_out

array(['assistante', 'développeur', 'responsable', 'stage', 'technicien'],
      dtype=object)

In [126]:
# size of the matrix
print(x.shape)

(553, 5)

##clustering the data using kmeans

In [127]:
# instansiate kmeans

from sklearn.cluster import KMeans

k  = KMeans(n_clusters=5,init='k-means++')

k.fit(x)

KMeans(n_clusters=5)

In [128]:
# number of elements of each cluster
labels = pd.DataFrame(k.labels_)

labels.value_counts()

1    411
0     41
3     36
2     33
4     32
dtype: int64

In [131]:
# display the centent of each cluster

cluster_map=pd.DataFrame()

cluster_map['data_index'] = title1
cluster_map['cluster'] = k.labels_

cluster1 = cluster_map[cluster_map.cluster == 1]

cluster1.head(10)

                                           data_index  cluster
0                                     Financier femme        1
9            KO’Date offre Stage PFE UI / UX Designer        1
10  Think Tank is looking for Talent Acquisition S...        1
13                 KO’date offre PFE Graphic Designer        1
15     Culturel recrute des Conseillers.ères de Vente        1
16                 Sayyar Technique recrute Ingénieur        1
17                           METREUR VERIFICATEUR H/F        1
18  Wall Street English recrute Assistant.e Financ...        1
19                             Téléopérateurs(trices)        1
20                     DA KAT recrute des Conducteurs        1