<a href="https://colab.research.google.com/github/Faouzi-Slimi/python_Avancee/blob/main/Passengers_Tp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
from PIL import Image
import os
import cv2
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from keras import layers,Sequential
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.text import Tokenizer
from sklearn import preprocessing

import time
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from numpy import array
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from tensorflow.keras import layers
from keras.layers import Embedding
from tensorflow.keras.layers import LSTM,Bidirectional,GRU

from tensorflow.keras.layers import Dense
from tensorflow.keras import optimizers

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/air122.csv')

In [ ]:
data

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [ ]:
data['Month'].dtype

dtype('O')

In [ ]:
data= data.reset_index()

In [ ]:
data

     index      Month  Passengers
0        0 1949-01-01         112
1        1 1949-02-01         118
2        2 1949-03-01         132
3        3 1949-04-01         129
4        4 1949-05-01         121
..     ...        ...         ...
139    139 1960-08-01         606
140    140 1960-09-01         508
141    141 1960-10-01         461
142    142 1960-11-01         390
143    143 1960-12-01         432

[144 rows x 3 columns]

In [ ]:
seq=data['Passengers']
seq

0      112
1      118
2      132
3      129
4      121
      ...
139    606
140    508
141    461
142    390
143    432
Name: Passengers, Length: 144, dtype: int64

In [ ]:
X= []

for i in range(len(seq)-1):
    val=seq[i]
    X.append(val)
    
    
X= np.array(X)

In [ ]:
X

array([112, 118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115,
       126, 141, 135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150,
       178, 163, 172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193,
       181, 183, 218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235,
       229, 243, 264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234,
       264, 302, 293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315,
       364, 347, 312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413,
       405, 355, 306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467,
       404, 347, 305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404,
       359, 310, 337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407,
       362, 405, 417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390])

In [ ]:
Y= []

for i in range(1,len(seq)):
    val=seq[i]
    Y.append(val)
    
    
Y= np.array(Y)

In [ ]:
Y

array([118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115, 126,
       141, 135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150, 178,
       163, 172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193, 181,
       183, 218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235, 229,
       243, 264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234, 264,
       302, 293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315, 364,
       347, 312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413, 405,
       355, 306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467, 404,
       347, 305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404, 359,
       310, 337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407, 362,
       405, 417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390, 432])

In [ ]:
l=len(data['Passengers'])

In [ ]:
l

144

In [ ]:
x_train, x_test, train_label, test_label= train_test_split(X,Y,test_size=0.33, random_state=0)

In [ ]:
x_train.shape

(95,)

In [ ]:
x_train

In [ ]:
model = Sequential()
model.add(Embedding(143,40, input_length=1))
model.add(LSTM(1000, return_sequences=True))
model.add(LSTM(1000))
model.add(Dense(1000, activation="relu"))
model.add(Dense(143, activation="softmax"))

In [ ]:
model.compile(loss="categorical_crossentropy", optimizer='adam',metrics=['accuracy'])
model.fit(X, Y, epochs=100)

Epoch 1/100

ValueError: ignored